{% extends 'user_base.html' %}
{% load static %}
{% block title %}Send Feedback{% endblock title %}
{% block body %}
<script>
    function validate(){
    var x = document.forms["myForm"]["feedback"].value;
    if (x == ""){
        alert("Invalid Feedback Credentials! Please Try Again!!");
        return false;
    }
    }
</script>
<div class="container mt-5" style="margin-bottom: 5%;">
    <div class="row">
        <div class="col-sm-8">
            <form method="post" action="{% url 'send_feedback' %}" id="myForm" onsubmit="return validate()">{% csrf_token %}
               <label style="color:black;"><b>Send Feedback</b></label>
               <input type="text" class="form-control" placeholder="Type Your Feedback" name="feedback" id="feedback"><br>
               <input type="submit" class="btn btn-danger mt-2" value="Send Feedback">
           </form>
        </div>
    </div><hr>
    <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th scope="col">Sr.No.</th>
                        <th scope="col">Username</th>
                        <th scope="col">Feedback</th>
                        <th scope="col">Date & Time</th>
                    </tr>
                </thead>
                <tbody>
                {% for data in datas %}
                        <tr class="text-center">
                                <td>{{forloop.counter}}</td>
                                <td>{{data.user}}</td>
                                <td>{{data.feedback}}</td>
                                <td>{{data.datetimefield}}</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
</div>
{% endblock body %}