{% extends 'user_base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block body %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{product.image.url}}" style="width: 100%; height: 80%;">
            </div>
            <div class="col-sm-8 mb-5">
                <h3>{{product.product_name}}</h3><hr>
                <h3>{{product.Description}}</h3><hr>
                <h3>₹ {{product.price}}</h3><br>
                <h3>Available Offers: </h3>
                <ul>
                    <li><b>OFFER:</b> If Your Order more than <b><i>499 Rupees</i></b> then Delivery Charge'll be Free and if your
                        order less than 499 Rupees then Delivery Charge <b><i>20 Rupees</i></b> per order.</li>
                    <li><b>NOTE: </b> This order will only be delivered within <b><i>2 KM.</i></b> </li>
                    <li><b>NOTE: </b> Only Cash On Delivery Available.</li>
                    <li><b>NOTE: </b> Fast Delivery within 30 Minutes.</li>
                </ul>
                <a href="{% url 'add_cart' product.id %}"  class="btn btn-primary mt-2">ADD CART</a>
                <a href="{% url 'buy_one' product.id %}" class="btn btn-primary mt-2">BUY NOW</a>
            </div>
        </div>
    </div>
{% endblock body %}