{% extends 'admin_base.html' %}
{% load static %}
{% block title %}View Feedback Form{% endblock title %}
{% block body %}
    <div class="container mt-5" style="margin-bottom: 5%;">
        <div style="overflow: auto;">
    <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th scope="col">Sr.No.</th>
                        <th scope="col">Username</th>
                        <th scope="col">Feedback</th>
                        <th scope="col">Date & Time</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                {% for feedback in feedbacks %}
                        <tr class="text-center">
                            <td>{{forloop.counter}}</td>
                            <td>{{feedback.user}}</td>
                            <td>{{feedback.feedback}}</td>
                            <td>{{feedback.datetimefield}}</td>
                            <td><a href="{% url 'feedback_delete' feedback.id %}"><button class="btn btn-danger">Delete</button></a></td>
                        </tr>
                {% endfor %}
                </tbody>
    </table>
        </div>
    </div>
{% endblock body %}