{% extends 'admin_base.html' %}
{% load static %}
{% block title %}Category Form{% endblock title %}
{% block body %}
<script type="text/javascript">
function validate() {
var a=document.forms["myForm"]["exampleFormControlInput1"].value;
if (a=="")
 {
  alert("Category field must be filled out");
  return false;
 }
}
</script>
<form method="post" action="{% url 'admin_add_category' %}" style="margin-bottom: 5%;" id="myForm" onsubmit="return validate()">{% csrf_token %}
    <div class="container" style="margin-top: 50px;">
     <h2 class="text-center" style="font-style: oblique; font-family: Serif;"> Add Category </h2><br><br>
    <div class="form-group">
        <label for="exampleFormControlInput1">Category</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Add Category" name="category">
    </div>
    <button type="submit" class="btn btn-primary" onclick="myFunction()">Add Category</button>
    </div>
        <script>
        function myFunction() {
            alert("Are You sure?");
        }
        </script>
</form>
{% endblock body %}