{% extends 'admin_base.html' %}
{% load static %}
{% block title %}Admin Home{% endblock title %}
{% block body %}
<div class="container mb-5" style="margin-top: 5%;">
  <h2 class="text-center" style="font-style: oblique; font-family: Serif;">View User</h2><hr>
<div style="overflow: auto;">
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sr. No.</th>
      <th scope="col">Username</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email Address</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{user.username}}</td>
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.email}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
</div>
{% endblock body %}