{% extends 'user_base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block body %}
<script>
    function fun(){
        confirm("Are You Sure?");
        alert("Sucessfully Order your Product!");
    }
    var x = document.forms["myForm"]["name"].value;
    if (x==""){
    alert("Name field must be filled out!!!");
    return false;
    }
     var a = document.forms["myForm"]["email"].value;
    if (a==""){
    alert("Email Address field must be filled out!!!");
    return false;
    }
     var b = document.forms["myForm"]["mobile"].value;
    if (b==""){
    alert("Mobile field must be filled out!!!");
    return false;
    }
     var c = document.forms["myForm"]["address"].value;
    if (c==""){
    alert("Address field must be filled out!!!");
    return false;
    }
</script>
<div class="container mt-5" style="margin-bottom: 5%;">
    <h2 class="text-center">Buy Product</h2><hr>
    <div class="row">
    <div class="col-sm-4">
        <img src="{{product.image.url}}">
    </div>
    <div class="col-sm-7">
               <label style="color:black;"><b>Product</b></label>
               <input type="text" class="form-control" name="product" value="{{product.product_name}}" readonly><br>
               <label style="color:black;"><b>Product Description</b></label>
               <input type="text" class="form-control" name="description" value="{{product.Description}}" readonly><br>
               <label style="color:black;"><b>Price</b></label>
               <input type="text" class="form-control" name="price" value="{{product.price}}" readonly><br>
        <form method="post" action="{% url 'buy_one' product.id %}" id="myForm" onsubmit="return validate()">{% csrf_token %}
               <label style="color:black;"><b>Full Name</b></label>
               <input type="text" class="form-control" placeholder="Enter Full Name" name="name" id="name"><br>
               <label style="color:black;"><b>Email ID</b></label>
               <input type="email" class="form-control" placeholder="Enter Email Address" name="email" id="email"><br>
               <label style="color:black;"><b>Contact</b></label>
               <input type="tel" class="form-control" placeholder="Enter Contact Number" name="mobile" id="mobile"><br>
               <label style="color:black;"><b>Address</b></label>
               <input type="text" class="form-control" placeholder="Enter Your Address" name="address" id="address"><br>
               <input type="submit" class="btn btn-danger mt-2" onclick="fun()" value="Order Now">
           </form>
    </div>
    </div>
</div>
{% endblock body %}