{% extends 'user_base.html' %}
{% load static %}
{% block title %}View Cart{% endblock title %}
{% block body %}
    <div class="container mt-5" style="margin-bottom: 10%;">
        <h2 class="text-center" style="background-color: grey; padding: 1% 0% 1% 0%; font-style: oblique; font-family: Serif;"><b><i>Cart Products</i></b></h2><hr>
        {% for cart in carts %}
        <div class="row">
            <div class="col-sm-5">
                <img src="{{cart.product.image.url}}" style="width: 250px;"/>
            </div>
            <div class="col-sm-7">
                <h4><b>Product ID:</b> {{cart.product.id}}</h4>
                <h4><b>Product:</b> {{cart.product.product_name}}</h4>
                <h4>{{cart.product.Description}}</h4>
                <h4><b>Price: ₹</b> {{cart.product.price}}</h4><br>
                 <a href="{% url 'delete' cart.id %}" class="btn btn-danger" style="width: 140px;">DELETE</a>
                <a href="{% url 'buy_one' cart.product.id %}" class="btn btn-primary" style="width: 120px;">BUY NOW</a>
            </div>
        </div><hr>
        {% endfor %}
        <div class="container">
        <div class="row">
            {% for cart in carts %}
            <button class="btn btn-primary mt-1">BUY ₹ {{cart.product.price}}</button>
            {% if lcount != forloop.counter %}
            <h3>&nbsp;+&nbsp;</h3>
            {% endif %}
            {% endfor %}
            {% if lcount != 0 %}
            <h3>&nbsp;=&nbsp;</h3>
            <button class="btn btn-primary mt-1">PRODUCTS  ₹ {{rupees}}</button>
            {% else %}
            <h3 class="text-center">Not Found Product </h3>
            {% endif %}
        </div><br>
        <div class="row">
            <a href="{% url 'user_home' %}"><button class="btn btn-danger">Continue Buy Product</button></a>
        </div>
        </div>
    </div>
{% endblock body %}