{% extends 'user_base.html' %}
{% load static %}
{% block title %} Change Password {% endblock title %}
{% block body %}

{% ifequal error "no" %}
    <script>
        alert("Successfully changed Password!");
        window.location = ('{% url 'logout' %}');
    </script>
{% endifequal %}

{% ifequal error "yes" %}
    <script>
        alert("Invalid Password Credentials! Please Try Again!!");
        window.location = ('{% url 'change_password' %}');
    </script>
{% endifequal %}

<script>
    function validate(){
    var x = document.forms["myForm"]["old"].value;
    if (x == ""){
        alert("Old Password must be filled out!!");
        return false;
    }
    var y = document.forms["myForm"]["new"].value;
    if (y == ""){
        alert("New Password must be filled out!!");
        return false;
    }
    var z = document.forms["myForm"]["confirm"].value;
    if (z == ""){
        alert("Confirm Password must be filled out!!");
        return false;
    }
    }
</script>

<div class="container mt-5" style="margin-bottom: 5%;">
    <div class="row">
        <div class="col-sm-7">
            <h2 class="text-center" style="font-style: oblique; font-family: Serif;">Change Password</h2><hr>
           <form method="post" action="{% url 'change_password' %}" id="myForm" onsubmit="return validate()">{% csrf_token %}
               <label style="color:black;"><b>Old Password</b></label>
               <input type="password" class="form-control" placeholder="Enter Old Password" name="old" id="old"><br>
               <label style="color:black;"><b>New Password</b></label>
               <input type="password" placeholder="Enter New Password" class="form-control" name="new" id="new"><br>
               <label style="color:black;"><b>Confirm New Password</b></label>
               <input type="password" placeholder="Enter New Password" class="form-control" name="confirm" id="confirm"><br>
               <input type="submit" class="btn btn-danger mt-2" value="Change Password">
           </form>
        </div>
    </div>
</div>
{% endblock body %}