{% extends 'user_base.html' %}
{% load static %}
{% block title %}User Profile{% endblock title %}
{% block body %}
{% if message %}
<h3>{{message}}</h3>
{% endif %}
<form method="post" action="{% url 'edit' %}" style="margin-bottom: 5%;">{% csrf_token %}
    <div class="container mt-5">
        <h2 class="text-center" style="font-style: oblique; font-family: Serif;">Profile</h2>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <b>Username</b>
            </div>
            <div class="col-md-6">
                <input type="text" value="{{data.user.username}}" name="user">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <b>Full Name</b>
            </div>
            <div class="col-md-6">
                <input type="text" value="{{data.user.first_name}} {{data.user.last_name}}" name="name">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <b>Email ID</b>
            </div>
            <div class="col-md-6">
                <input type="text" value="{{data.user.email}}" name="email">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <b>Contact</b>
            </div>
            <div class="col-md-6">
                <input type="text" value="{{data.contact}}" name="contact">
            </div>
        </div>
        <hr>
        <div class="row ml-1">
           <button type="submit" class="btn btn-primary">Edit Profile</button>
        </div>
    </div>
</form>
{% endblock body %}